/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600&display=swap');

/* base style */
body {
    font-family: 'Poppins', sans-serif;
    color: #8A8A8A;
}
h1,h2,h3,h4,h5 {
    color: #010101;
}

/* header-top */
.header-top a.logo {
    color: black;
    font-size: 38px;
    font-weight: 800;
    text-decoration: none;
    width: 10px;
    display: inline-block !important;
}
.header-top a.logo span {
    font-size: 13px;
    padding: 0;
    margin-top: -15px;
    letter-spacing: 1.3px;
}
.custom-btn {
    background-color: #FD5F00;
    border-radius: 0;
    color: white;
    padding: 10px 15px;
}
.custom-btn:hover {
    color: #FD5F00;
    border-color: #FD5F00;
    background-color: white;
    transition: .3s;
}
/* navbar */
.main-nav .navbar-dark .navbar-nav .nav-link {
    color: white;
}
.main-nav .navbar-dark .navbar-nav .nav-link:hover {
    color: #FD5F00;
} 

.border-color {
    border: 1px solid #6e6e6e;
}
.form-control:focus {
    box-shadow: none;
}
.nav-bg {
    background-color: #0D1128;
}
.border-color .form-control.me-2.border-0.nav-bg.text-secondary:focus {
    background: #0D1128;
}
.nav-btn {
    margin-right: 10px;
    margin-bottom: 2px;
}
.contact-icon {
    color: #FD5F00;
}
/* hero area */
.hero-area {
    background-image: url(../img/carousel-2.webp);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #D4CBB0;
    position: relative;
    z-index: 1;
}
.hero-area::after {
    content: "";
    position: absolute;
    background: rgb(60,51,48);
    background: linear-gradient(90deg, rgba(60,51,48,1) 0%, rgba(255,98,1,1) 100%);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .5;
    z-index: -1;
}
.hero-content {
    padding: 20vh 0;
}
.hero-p {
    margin-top: 28px;
    margin-bottom: 34px;
}
.hero-btn {
    padding: 16px 25px;
    display: inline-block;
    color: white;
    background-color: #FD5F00;
    text-decoration: none;
    transition: .3s;
    border: 1px solid #FD5F00;
}
.hero-btn:hover {
    color: #FD5F00;
    background-color: transparent;
}
/* quality */
.orange-card {
    background-color: #FD5F00;
}
.black-card {
    background-color: #0E1229;
}
.quality .row>* {
    padding-right: 0 !important; 
    padding-left: 0 !important;
}

/* services */
.service-icon {
    font-size: 32px;
    background-color: #FD5F00;
    height: 75px;
    width: 75px;
    text-align: center;
    line-height: 75px;
    border-radius: 50%;
    margin-top: 5px;
    color: white;
}
.offer-img {
    width: 100%;
}

/* intro with video */
.section-bg {
    background-image: url(../img/video-area-bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    padding: 160px 0;
}
.section-bg::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: rgb(60,51,48);
    background: linear-gradient(90deg, rgba(60,51,48,1) 0%, rgba(255,98,1,1) 100%);
    opacity: .6;
    z-index: -1;
}
.video-bg {
    background-image: url(../img/video-thumb.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    position: relative;
}
.video-play-btn {
    position: absolute;
    right: 50%;
    top: 50%;
    margin-right: -50px;
    margin-top: -50px;
    height: 100px;
    width: 100px;
    background-color: #ffffff;
    color: #FD5F00;
    font-size: 32px;
    line-height: 100px;
    text-align: center;
    border-radius: 50%;
}
/* courses */
.courses {
    padding: 125px 0;
}
.section-title h2 {
    font-size: 44px;
    font-weight: 600;
    color: #343434;
}
.section-title p {
    color: #7F7F7F;
    font-size: 18px;
}
.sm h6 {
    font-size: 14px;
}
.sm h6 span {
    margin-right: 6px;
}
.course-card h2 {
    color: #010101;
}
.boxed-btn {
    display: inline-block;
    text-decoration: none;
    background-color: #FD5F00;
    color: white;
    padding: 14px 28px;
    border-radius: 40px;
    margin-top: 14px;
}

/* certified teacher */
.certified-bg {
    background-color: #FAFAFA;
    padding: 125px 0;
}
.t-bg-1 { background-image: url(../img/t-1.webp);}
.t-bg-2 {background-image: url(../img/t-2.webp);}
.t-bg-3 {background-image: url(../img/t-3.webp);}
.t-bg-4 {background-image: url(../img/t-4.webp);}
.bg {
    height: 400px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    transition: .5s;
}
.bg:hover {
    transform: scale(1.007);
}
.t-social-icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -45px;
    transition: .5s;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}
.t-social-icon a i.fab {
    color: #FD5F00;
    padding-left: 3px;
    padding-right: 3px;
}
.t-info span {
    color: #FD5F00;
    letter-spacing: 1.5px;
    font-size: 14px;
}
.single-teacher-info:hover .t-social-icon {
    visibility:visible;
    opacity: 1;
    transition: display 1s;
    bottom: 10px;
    transition: all 0.3s ease;
}
.t-info h3 {
    transition: all 0.3s ease;
}
.single-teacher-info:hover .t-info h3 {
    color: #FD5F00;
    transition: all 0.3s ease-out;
}